.transaction-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.mat-success {
    background-color: green;
    color: #fff;
}


.btn-group {
    display: flex;
    gap: 2px;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;

}

mat-card {
    width: 400px;
    padding: 20px;
}

mat-form-field {
    width: 100%;
}