/* categories.component.css */
.categories-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .categories-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  form label {
    flex: 1;
  }
  
  form input {
    flex: 2;
  }
  
  button {
    margin-top: 10px;
    background-color: rgb(146, 146, 219);
    color: white;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  li button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }
  